.ministry {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #e1f5e1;
}

hr {
    margin-left: 0%;
    max-width: 60%;
    border-top: 3px solid #8c8b8b;
}